.App{
  text-align: center;
}

.App__name{
  background-color: rgb(59, 57, 59);
  color: white;
  height: 30px;
}

.App__user-form{
  background-color: whitesmoke;
  color: black;
  width: 400px;
  min-height: 500px;
}

button{
  background-color: rgb(16, 16, 17);
  color: white;
  border-radius: 5px;
  width: 70px;
  padding: 10px;
}

label{
  font-size: larger;
}

.App__user-info{
  position:absolute;
  left:500px;
  margin-top: -500px;
  background-color: gray;
  min-height: 500px;
  width: 600px;

}
.category{
  font-size: larger;
  font-weight: bold;
}

.description{
  font-weight: normal;
}

.amount{
  font-weight: bold;
  font-size: smaller;
}
